.photo-item img {
    width: 100%;
}

.photo-item h2 {
    margin: .8em 0 .2em;
}

.photo-item p {
    margin: .8em;
}

.photo-author {
    text-align: left;
}

.photo-author a {
    font-weight: bold;
    color: rgb(151, 84, 214);
}